dataset
.ipynb_checkpoints
atlantis/dataset
atlantis/dataset_adk
atlantis/dataset_binary
*.DS_Store
model_weights/*.hdf5
logs/fit/*
best_model_weights/*.hdf5
dataset_testing
river_segmented_hydrology
river_segmented_hydrology_v2
ADE_water_dataset